<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- Material Design Bootstrap -->
  <link rel="stylesheet" href="css/mdb.min.css">
  <!-- Your custom styles (optional) -->
  <link rel="stylesheet" href="/static/css/style.css">
    <title>Index page</title>
      


  </head>
  
  <body id="main">
      <nav class="navbar sticky-top">
  <a class="navbar-brand" href="#"><i class="fas fa-clinic-medical"></i></a>
  <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tooltip" data-placement="bottom" title="Margi: 201801014 Mahi: 201801039" href="#" style="color:black; font-size:120%;"><b>Contact us</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:black; font-size:120%;"><b>About us</b></a>
      </li>
      <li class="nav-item">
          <div class="box">
        <a class="nav-link" href="login.html" style="color:black; font-size:120%;"><b>Login</b></a>
          </div>
      </li>
            <li class="nav-item">
            <div class="box">
        <a class="nav-link" href="signup.html" style="color:black; font-size:120%;"><b>Sign up</b></a>
                </div>
      </li>
       </ul>
</nav>
       <div class="split left">
  <div class="centered">
   <div class="row">
                <div class="col-1">
                    <div class="form-box">
                        <div class="p1">
                       <h2>Welcome to the Continuous COVID-19 Monitoring app!<br></h2> 
                           <p> With the help of our system, doctors and nurses can monitor the COVID-19 positive patients from far and safe distances on their screen monitors. Our system, with the help of the Internet of Things, will dynamically flash the list of patients in decreasing order of their severity by continuously monitoring via sensors. This way, a single medical staff can look after more patients than they generally can in a time of crisis. Also, there is reduced contact and threat for frontline workers with the help of our system. 
                           <br>So, what are you waiting for? 
                           <br> Just Sign up with your Hospital's email ID and get started! 
  </p>  
                            </div>
	                </div>
                </div>
                
            </div>
        </div>
    </div>
 

<div class="split right">
  <div class="centered">
    
  </div>
</div> 
      
 
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://kit.fontawesome.com/4077c6ef6a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>